{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier/@typescript-eslint",
    "prettier/react",
    "plugin:prettier/recommended"
  ],
  "plugins": ["@typescript-eslint", "react", "react-hooks", "prettier"],
  "settings": {
    "react": {
      "version": "latest"
    }
  },
  "rules": {
    "react/react-in-jsx-scope": "off"
  },
  "globals": {
    "React": "writable",
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  }
}
